<h3>Forget Password</h3>
<form method="Post">
Username: <input type="text" placeholder="Enter Username" name="usern"/><br><br>
New Password: <input type="text" placeholder="Enter Username" name="pass"/><br><br>
<input type="submit" value=submit >
</form>