<form method="post">
    Product Id : <input type="number"  name="productId">
    Product Name : <input type="text"  name="productName">
    Product Price : <input type="number" name="price">
    Product Qty : <input type="number" name="qty">
    <button>Update</button>
</form>