<h1>Edit Employee Details</h1>

<form method="post">
   Enter Student Id:<input type="number" value="@Model.StudentId" name="id"><br>
    Enter Student Name:<input type="string" value="@Model.StudentName" name="name"><br>
    Enter Student Email:<input type="string" value="@Model.Email" name="email"><br>
    
    <button type="submit">Update</button>
    
</form>