<h2>New Student Registration </h2>

<form method="post">
    Enter Student Id:<input type="number" name="id"><br>
    Enter Student Name:<input type="string" name="name"><br>
    Enter Student Email:<input type="string" name="email"><br>
    Enter Student New Password:<input type="string" name="pwd"><br>
    <button type="submit">Register</button>
    <br>
    <br>
    <a href="Login" >Already User-Login</a>
</form>